$font-stack: "Roboto", sans-serif;

$primary-blue: #3273C5;

$text-white:white;
$text-gray:gray;
$text-blue: $primary-blue;

$form-background: #262626;
$form-background-active: #343434;

$card-background: #2A2A2A;

